@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

:root {
    --color1: #202023;
    --color2: #ededed;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    transition: .2s;
    text-decoration: none;
    list-style: none;
}

.light-mode {
    color: var(--color1);
    background: var(--color2);
}

.spanLight {
    background: purple;
    border: solid 2px var(--color1);
    transition: .7s;
}

i {
    color: var(--color2);
    transition: .7s;
}

.toggleIcons {
    color: var(--color1);
    transition: .7s;
}

body, html {
    width: 100%;
    height: 100%;
    background: var(--color1);
    color: var(--color2);
}

span {
    transition: .7s;
    text-align: center;
    height: 34px;
    width: 34px;
    border-radius: 50px;
    background: yellow;
    border: solid 2px var(--color2);
}

#nav-bar {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 50px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px solid var(--color2);
}

.border-botton-title {
    border-bottom: 1px solid var(--color1);
}

#linksIcons {
    height: 10%;
    padding: 30px 0px;
    width: 100%;
}

#linksIcons div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
}

.fa-youtube:hover {
    color: #ff3838;
}

.fa-instagram:hover {
    color: #ff00f2;
}

.fa-discord:hover {
    color: #383bfc;
}

.fa-linkedin:hover {
    color: #389afc;
}

.fa-github:hover {
    color: #a94dff;
}

#mid-content {
    width: 100%;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-area {
    margin: 2px 0;
    width: 320px;
    height: 70px;
    border: 1px solid var(--color2);
    border-radius: 14px;
}

.content-area:hover {
    transform: scale(1.1);
}

footer {
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: solid 1px rgb(48, 48, 48);
}

footer p {
    font-family: "Roboto", serif;
}